body {
  background-color: #2d2926;
}

.circle-img {
  width: 150px;      /* Задайте нужный размер */
  height: 150px;     /* Должен быть равен ширине */
  border-radius: 50%;/* Скругляет углы в идеальный круг */
  object-fit: cover; /* Обрезает картинку по центру, чтобы не было искажений */
}
